@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
  }

  /* Prevent visited link color change in navigation */
  nav a:visited {
    color: inherit;
  }
}

/*
  @layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue-200;
    }
  }
*/